<a class="ui link medium rounded image" [routerLink]="['/articles', article.id]">
  <img [src]="article.imageUrl" [ngClass]="{'accessibility': accAct()}">
</a>
<div class="content">
  <a class="header" [routerLink]="['/articles', article.id]" [ngClass]="{'accessibility': accAct()}">{{ article.title }}</a>
  <div class="meta">
    <span [innerHTML]="article.story | substr:300"></span>
  </div>
  <div class="description">
    <p></p>
  </div>
  <div class="extra">
    <a [routerLink]="['/category', article.category ]" [ngClass]="{'accessibility': accAct()}">{{ article.category | titlecase }}</a>
  </div>
</div>
