<header class="ui red menu inverted">
  <h1 class="ui header item"><a href="#">RNet</a></h1>
  <a href="#" class="item">Computadoras</a>
  <a href="#" class="item">Smartphones</a>
  <a href="#" class="item">Apps</a>
  <a href="#" class="item">Tutoriales</a>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui icon input">
        <input class="prompt" placeholder="Search animals..." type="text" style="">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</header>
