<header class="ui red inverted stackable menu">
  <div class="ui stackable large  labeled icon red menu inverted">
    <h1 class="ui header item"><a routerLink="/home" routerLinkActive="active">RNet</a></h1>
    <a routerLink="/articles/category/computadoras" routerLinkActive="active" class="item"><i class="desktop icon"></i>Computadoras</a>
    <a routerLink="/articles/category/smartphones" routerLinkActive="active" class="item"><i class="mobile icon"></i>Smartphones</a>
    <a routerLink="/articles/category/apps" routerLinkActive="active" class="item"><i class="fab fa-app-store fa-2x"></i>Apps</a>
    <a routerLink="/articles/category/tutoriales" routerLinkActive="active" class="item"><i class="book icon"></i>Tutoriales</a>
  </div>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui icon input">
        <input class="prompt" placeholder="Buscar articulos..." type="text" style="">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</header>
