<form class="ui large form" [formGroup]="registerForm" [ngClass]="{
'error': (!registerForm.valid && registerForm.touched) || registerError,
'success': registered
}">
  <div class="ui success message" [ngClass]="{'accessibility': accAct()}">
    <div class="header">Exito!</div>
    <p>Se ha registrado correctamente. Ya puedes iniciar sesion usando esa cuenta.</p>
  </div>
  <div class="ui error message" [ngClass]="{'accessibility': accAct()}" *ngIf="registerError">
    <div class="header">Error</div>
    <p>{{ registerErrorMessage }}</p>
  </div>
  <div class="field required">
    <div class="ui error message"
         *ngIf="!registerForm.get('fullname.firstname').valid && registerForm.get('fullname.firstname').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe ingresar su primer nombre</p>
    </div>
    <div class="ui error message"
         *ngIf="!registerForm.get('fullname.lastname').valid && registerForm.get('fullname.lastname').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe ingresar su primer apellido</p>
    </div>
    <label for="firstname">Nombre Completo</label>
    <div class="two fields" formGroupName="fullname">
      <div class="eight wide required field" [ngClass]="{'error': !registerForm.get('fullname.firstname').valid && registerForm.get('fullname.firstname').touched}">
        <input type="text" id="firstname" placeholder="Primer Nombre" formControlName="firstname">
      </div>
      <div class="eight wide field" [ngClass]="{'error': !registerForm.get('fullname.lastname').valid && registerForm.get('fullname.lastname').touched}">
        <input type="text" id="lastname" placeholder="Primer Apellido" formControlName="lastname">
      </div>
    </div>
  </div>
  <div class="field required" [ngClass]="{'error': !registerForm.get('email').valid && registerForm.get('email').touched}">
    <div class="ui error message"
         *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe ingresar su correo electronico</p>
    </div>
    <label for="email">Correo Electronico</label>
    <input type="email" id="email" formControlName="email" placeholder="Correo Electronico">
  </div>
  <div class="field required" [ngClass]="{'error': !registerForm.get('username').valid && registerForm.get('username').touched}">
    <div class="ui error message"
         *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe ingresar un nombre de usuario</p>
    </div>
    <label for="username">Nombre de usuario</label>
    <input type="text" id="username" placeholder="Nombre de usuario" formControlName="username">
  </div>
  <div class="field">
    <div class="ui error message"
         *ngIf="!registerForm.get('password.newPassword').valid && registerForm.get('password.newPassword').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe ingresar una contraseña</p>
    </div>
    <div class="ui error message"
         *ngIf="!registerForm.get('password.confirmPassword').valid && registerForm.get('password.confirmPassword').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Campo requerido</div>
      <p>Debe confirmar su contraseña</p>
    </div>
    <div class="ui error message"
         *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched && registerForm.get('password.confirmPassword').valid && registerForm.get('password.confirmPassword').touched && registerForm.get('password.newPassword').valid && registerForm.get('password.newPassword').touched"
         [ngClass]="{'accessibility': accAct()}">
      <div class="header">Contraseñas invalidas</div>
      <p>Las contraseñas deben coincidir</p>
    </div>
    <div class="two fields" formGroupName="password">
      <div class="field required" [ngClass]="{'error': !registerForm.get('password.newPassword').valid && registerForm.get('password.newPassword').touched}">
        <label for="newPassword">Contraseña</label>
        <input type="password" id="newPassword" placeholder="Contraseña" formControlName="newPassword">
      </div>
      <div class="field required" [ngClass]="{'error': !registerForm.get('password.confirmPassword').valid && registerForm.get('password.confirmPassword').touched}">
        <label for="newPassword">Confirme su Contraseña</label>
        <input type="password" id="confirmPassword" placeholder="Vuelva a escribir su contraseña" formControlName="confirmPassword">
      </div>
    </div>
  </div>
  <button class="ui fluid button"
          type="submit"
          (click)="onSubmit()"
          [ngClass]="{
          'negative': !registerForm.valid && !accAct(),
          'positive': registerForm.valid && !accAct(),
          'black': !registerForm.valid && accAct(),
          'grey': registerForm.valid && accAct()}"
          [disabled]="!registerForm.valid">Registrarse</button>
</form>
