<footer class="ui segment">
  <div class="ui stackable nine column centered grid">
    <div class="centered row">
      <div class="column">
        <a routerLink="/contact-us">Contactanos</a>
      </div>
      <div class="column">
        <a routerLink="/about-us">Sobre Nosotros</a>
      </div>
      <div class="column">
        <a routerLink="/legal">Terminos y Condiciones</a>
      </div>
    </div>
    <div class="centered row">
      <p><i class="copyright icon"></i>RNet 2018. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
