
  .image-with-text {
    position: relative;
  }

  .image-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    font-size: 1.3em;
  }

  .dimmer-text {
    font-size: 1.4em;
  }
