<div class="ui massive borderless bottom fixed menu" #navbar>
  <div class="ui five column grid container">
    <a routerLink="/category/tecnologia" routerLinkActive="active" class="item column"><i class="large desktop icon"></i></a>
    <a routerLink="/category/smartphones" routerLinkActive="active" class="item column"><i class="big mobile icon"></i></a>
    <a routerLink="/category/apps" routerLinkActive="active" class="item column"><i class="fab fa-app-store fa-2x"></i></a>
    <a routerLink="/category/tutoriales" routerLinkActive="active" class="item column"><i class="large book icon"></i></a>
    <a class="item column" (click)="onOpenModal()" *ngIf="!user"><i class="large id card icon"></i></a>
    <a class="item column" (click)="onLogout()" *ngIf="user"><img [src]="user.imageUrl" [alt]="user.fullName" class="avatar"></a>
  </div>
</div>
