<div class="ui segment container">
  <div class="ui basic segment">
    <h2 class="ui header">{{ article?.title }}</h2>
    <img [alt]="article?.title"
         [src]="article?.imageUrl"
         class="ui centered huge image"
         [ngClass]="{'accessibility': accAct()}">
  </div>
  <div class="ui text container" [innerHTML]="article?.story">
  </div>
</div>
<div class="ui segment container">
  <div class="ui comments">
    <h3 class="ui dividing header">Comentarios</h3>
    <div class="comment" *ngFor="let comment of article?.comments">
      <a class="avatar">
        <img [src]="comment.avatarUrl">
      </a>
      <div class="content">
        <a class="author">{{ comment.author }}</a>
        <div class="metadata">
          <span class="date">{{ comment.date | date:'medium' }}</span>
        </div>
        <div class="text">
          {{ comment.comment }}
        </div>
      </div>
    </div>
    <form class="ui reply form" [formGroup]="commentsForm">
      <div class="field">
        <label for="comment">Escriba su comentario:</label>
        <textarea formControlName="comment" id="comment"></textarea>
      </div>
      <button type="submit" class="ui blue labeled submit icon button"
           (click)="onAddComment()"
           [disabled]="!commentsForm.valid">
        <i class="icon edit"></i> Publicar comentario
      </button>
    </form>
  </div>
</div>
