<div class="ui segment container">
  <div class="ui basic segment">
    <h2 class="ui header">{{ article?.title }}</h2>
    <img alt="Alguien ha suplantado a Elon Musk para que la gente le regale ethereums, ya ha engañado a 45 personas." [src]="article?.imageUrl" class="ui centered huge image">
  </div>
  <div class="ui text container">
    {{ article?.story }}
  </div>
</div>
<div class="ui segment container">
  <div class="ui comments">
    <h3 class="ui dividing header">Comentarios</h3>
    <div class="comment" *ngFor="let comment of article?.comments">
      <a class="avatar">
        <img [src]="comment.avatarUrl">
      </a>
      <div class="content">
        <a class="author">{{ comment.author }}</a>
        <div class="metadata">
          <span class="date">{{ comment.date }}</span>
        </div>
        <div class="text">
          {{ comment.comment }}
        </div>
      </div>
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea #comment></textarea>
      </div>
      <div class="ui blue labeled submit icon button" (click)="onAddComment(comment)">
        <i class="icon edit"></i> Publicar comentario
      </div>
    </form>
  </div>
</div>
