<img alt="Alguien ha suplantado a Elon Musk para que la gente le regale ethereums, ya ha engañado a 45 personas." src="https://i.blogs.es/d2631e/sad-elon/1366_2000.jpg" class="ui centered massive image">
<hr>
<h2 class="ui header">Alguien ha suplantado a Elon Musk para que la gente le regale ethereums, ya ha engañado a 45 personas</h2>
<div class="ui padded segment">
  7 de febrero, SpaceX acaba de lanzar con éxito el Falcon Heavy y Elon Musk lo comenta en Twitter. Todo en orden en la vida de Elon, incluso lo de que haya un Tesla Roadster orbitando. Cuando se despacha lo ordinario con maestría, la siguiente meta es lo extraordinario. Entre las miles de respuestas a uno de sus tuits, aparece una en la que el propio Musk anuncia que va a donar 250 ethereums a los 250 primeros que le envíen 0,2 a su cartera, enviándoles un ethereum más los 0,2 de la transacción original.
</div>
