<div class="ui borderless pointing secondary menu">
  <div class="ui two column grid container">
    <div class="column">
      <a class="item"
         [ngClass]="{'active': activeTab === 'login'}"
         (click)="onSelectLogin()">
        Iniciar Sesión
      </a>
    </div>
    <div class="column">
      <a class="item"
         [ngClass]="{'active': activeTab === 'register'}"
         (click)="onSelectRegister()">
        Registrarse
      </a>
    </div>
  </div>
</div>
<div class="ui basic segment">
  <app-login *ngIf="activeTab === 'login'"></app-login>
  <app-register *ngIf="activeTab === 'register'"></app-register>
</div>
