a.accessibility {
  color: black;
  text-decoration: underline;
}

a.accessibility.inverted {
  color: white;
}

a.accessibility:hover {
  color: #393939;
}

img.accessibility {
  filter: grayscale(100%);
}

form div.ui.message.accessibility {
  background-color: #f8f8f9;
  border: 2px solid #d4d4d5;
}

form div.ui.message.accessibility p, form div.ui.message.accessibility div.header {
  color: #393939;
}

